<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/bootstrap.min.css"}}" />
    <style> @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700|Source+Serif+Pro:400,700');</style>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "css/mediumish.css"}}" />
    {{!-- Ghost outputs important style and meta data with this tag --}}
    <script src="{{asset "js/jquery.min.js"}}"></script>
    {{ghost_head}}
</head>

<body class="{{body_class}}">

    {{!-- The blog navigation links --}}
    {{navigation}}

    <div class="container">
        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{>katex}}
        {{{body}}}
        {{!-- Footer at the very bottom --}}
        <div class="footer">
      		<p class="pull-left">
      			 <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}
      		</p>
      		<p class="pull-right">
      			 Licencia MIT 3.0; proyecto por <a target="_blank" href="https://humanizando.me">Mariano Morales R.</a>
      		</p>
      		<div class="clearfix">
      		</div>
      	</div>
    </div>

    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
    <script src="{{asset "js/bootstrap.min.js"}}"></script>
    <script src="{{asset "js/ie10-viewport-bug-workaround.js"}}"></script>
    <script src="{{asset "js/masonry.pkgd.min.js"}}"></script>
    <script src="{{asset "js/jquery.ghostHunter.min.js"}}"></script>
    <script src="{{asset "js/mediumish.js"}}"></script>
</body>
</html>
